/* Table Styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.col-item-name {
  width: 60%;
}

.col-quantity,
.col-price {
  width: 20%;
}

table th {
  text-align: left;
  background-color: #869960;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

table th,
table td {
  border: 1px solid #869960;
  padding: 10px;
  vertical-align: top;
}

table tbody tr:nth-child(even) td {
  background-color: #e5e9dc;
}

table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
  text-align: center;
}

table tbody tr:hover td {
  background-color: #e6dce9;
}
